.container {
  font-weight: bold;
  /* margin-top: 50px; */
  text-align: left; /* Ensure container height stays consistent */
  overflow: hidden; /* Hide overflow text */
}
.width-full{
  width: 100%;
  /* height:1000px; */
  /* position: relative; */
}

.flex_grow
{
  flex-grow: 0.5;
}

.avatarr{
  /* position: absolute;
  top: 20px;
  left: 40px; */
  margin-left: 80px;
  margin-right: 80px;
}

.text-animation {
  border-right: 2px solid white; /* Simulate cursor */
  padding-right: 5px;
  animation: cursor-blink 0.7s step-end infinite;
  /* position: absolute;
  top: 50px; */
}

@keyframes cursor-blink {
  50% {
    border-color: transparent;
  }
}

/* .bg-gradient-multiple {
  background: linear-gradient(to right, #8C3545, #D6C2F2, #AC99F2,#797FF2,#5288F2);
} */

.gradient-background1 {
  background: linear-gradient(300deg, #010b63,#3b0156,#013f5a,#3a0172,#014663);
  /* height: 1000px; */
  padding-top: 80px;
  padding-bottom: 100px;
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
  /* display: flex; */
  /* align-items: center; */
  /* gap: 0px; */
  /* justify-content: space-around; */
}

.gradient-background2 {
  background: linear-gradient(300deg, #027004,#076976,#024b6a,#300163,#3d0156);
  /* height: 500px; */
  padding-top: 80px;
  padding-bottom: 100px;
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
  /* display: flex; */
  /* align-items: center; */
  /* gap: 0px; */
  /* justify-content: space-around; */
}

.gradient-background3 {
  background: linear-gradient(300deg, #17045d,#0e0776,#210056,#300047,#022057);
  /* height: 700px; */
  padding-top: 80px;
  padding-bottom: 100px;
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
  /* display: flex; */
  /* align-items: center; */
  /* gap: 0px; */
  /* justify-content: space-around; */
}

.gradient-background4 {
  background: linear-gradient(300deg, #01384a,#0e0776,#3d026a,#01405f,#011f56);
  /* height: 700px; */
  padding-top: 80px;
  padding-bottom: 100px;
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
  /* display: flex; */
  /* align-items: center; */
  /* gap: 0px; */
  /* justify-content: space-around; */
}

.avatar-box{
   display: flex;
   flex-direction: row;
  align-items: center;
  gap: 0px;
  margin-bottom: 80px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card_component {
  width: 350px;
  /* padding: 20px; */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: scaleDown 0.3s forwards;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease;  */
}

@keyframes scaleUp {
  from {
      transform: scale(1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  to {
      transform: scale(1.09);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

/* Keyframes for scaling down */
@keyframes scaleDown {
  from {
      transform: scale(1.09);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  to {
      transform: scale(1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

/* Hover effect for the card */
.card_component:hover {
  animation: scaleUp 0.3s forwards;
}

.about-box{
  background: linear-gradient(300deg,#05023b,#000000,#05202e);
  margin-left: 100px;
  width: 300px;
  height: 70px;
  background-color: black;
  /* text-align: center; */
  color: white;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-radius: 10px;
  margin-left: 260px;
  margin-top: 50px;
  margin-bottom: 20px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.about-content{
  margin-top: 10px;
  margin-left: 70px;
  padding: 10px;
  width: 700px;
  font-size: 20px;
  color:white;
  text-align: center;  
  line-height: 33px;
  animation: scaleDownImage 0.3s forwards;
}
.about-content:hover{
  border: 1px solid white;
  border-radius: 10px;
  animation: scaleUpImage 0.3s forwards;;
}
.span-text{
  /* color: linear-gradient(300deg,#8e8bbc,#98e3cb,#d087d2); */
  background: linear-gradient(100deg, #dfc1e0, #acd6f1, #fab1b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 22px;
    /* text-fill-color: transparent; */
}

.about-photo-container{
  display: flex;
  gap: 200px;
  margin-top: 0px;
} 

.img-layout{
  border: 1px solid white;
  border-radius: 5px;
  animation: scaleDownImage 0.3s forwards;
}
.img-layout:hover{
  animation: scaleUpImage 0.3s forwards;
}


@keyframes scaleUpImage {
  from {
      transform: scale(1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  to {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

/* Keyframes for scaling down */
@keyframes scaleDownImage {
  from {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  to {
      transform: scale(1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.college-container{
  margin-top: 70px;
}

.college-img{
  background: linear-gradient(50deg,#110018,#000c3d,#10012a);
  margin-left: 100px;
  width: 330px;
  height: 70px;
  /* background-color: black; */
  text-align: center;
  color: white;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-radius: 10px;
  margin-left: 65px;
  /* margin-top: 100px; */
  margin-bottom: 35px;
}

.flex-containerr{
  display: flex;
  gap: 250px;
}

.black-contain{
  border-radius: 10px;
  margin-left: 80px;
  /* padding-top: 2; */
  padding-top:30px;
  /* padding-left:40px; */
  padding-bottom:40px;
  background: linear-gradient(50deg,#14001b,#010b2b,#0a011e);
  width: 715px;
  height: 300px;
}

.resume-container{
display: flex;
flex-direction: column;
align-items: center;
/* justify-items: center; */
justify-content: center;
  width: 300px;
  border: 2px solid white;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 14px;
  animation: scaleDownResume 0.3s forwards;
}

.resume-container:hover{
  animation: scaleUpResume 0.3s forwards;
}

@keyframes scaleUpResume {
  from {
      transform: scale(1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  to {
      transform: scale(1.04);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

@keyframes scaleDownResume {
  from {
      transform: scale(1.04);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  to {
      transform: scale(1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.links{
  margin-left: 190px;
}


.skill-container{
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-items: center; */
  /* justify-content: center; */
    width: 650px;
    margin-left: 350px;
    margin-top: 100px;
    padding-left: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    /* padding-left: 30px; */
    border: 2px solid white;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: scaleDownResume 0.3s forwards;
  }

.skill-container:hover{
  animation: scaleUpResume 0.3s forwards;
}

.img-skill{
  border: 1px solid white;
  animation: scaleDownSkill 0.3s forwards; ;
}

@keyframes scaleUpSkill{
  from {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  to {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

@keyframes scaleDownSkill {
  from {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  to {
      transform: scale(1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.img-skill:hover{
  animation: scaleUpSkill 0.3s forwards;
}